<h1 class="text-primary">Chat App</h1>
<div class="row">
 <div class="col-md-6"> 
     <app-chat1 [chat1]="chat"></app-chat1>
    </div>
 <div class="col-md-6"><app-chat2 [chat]="chatSec"></app-chat2></div>
</div>

<input type="text" [(ngModel)]="message1">
<button (click)="getMessage1()" >Chat1</button>
<input type="text" [(ngModel)]="message2">
<button (click)="getMessage2()">Chat2</button>



